<div class="row" style="position: relative; background-color: #f2fbf8;">
    <img src="../../assets/images/registration_top_left_background.svg"
        style="position:absolute; top: 0px; left: 0px; width: 35%;">
    <img src="../../assets/images/registration_top_left_background.svg"
        style="position:absolute; bottom: 0px; right: 0px; width: 35%; transform: rotate(180deg);">

    <div class="col-sm-12"
        style="display: flex; justify-content:center; align-items: center; height: auto; min-height: 100vh;">
        <div class="col-sm-4">
            <h2 class="text-center mb-5">Sign in</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-envelope"></i></span>
                </div>
                <input type="text" [(ngModel)]="userEmail" class="form-control" placeholder="Email">
            </div>

            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-key"></i></span>
                </div>
                <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="userPassword"
                    class="form-control passwordField" placeholder="Password">
                <div class="input-group-append eye-button">
                    <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'" class="fa-solid fa-eye"
                        (click)="togglePasswordMode()"></i>
                </div>
            </div>

            <button class="btn btn-success" (click)="logIn()" [disabled]='!this.userEmail || !this.userPassword'>Log
                In</button>
        </div>
    </div>
</div>