@import '~ngx-toastr/toastr';

* {
    padding: 0px;
    margin: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
      border-radius: 10px;
    background: #b3b3b3; 
  }